<% content_for :body_class, 'flight-results-body' %>

<div class="flight-results-wrapper">
  <div class="flight-page-container">
  <div class ="flight-header">
  <%=link_to "Go Back", search_flights_path, class: "go-back" %>
  <h1 class="available-flights-text">Available Flights</h1>
 </div>

   <% if @search_results.present? %>
    <div class="flight-header-row">
      <span>Flights</span>
      <span>From</span>
      <span>To</span>
      <span>Date</span>
      <span>Price</span>
      <span></span>
    </div>

   
    <% @search_results.each do |flight| %>
      <div class="flight-card">
        <div class="flight-cell"><strong><%= flight[:flight_number] %></strong></div>
        <div class="flight-cell"><%= flight[:source] %></div>
        <div class="flight-cell"><%= flight[:destination] %></div>
        <div class="flight-cell"><%= flight[:departure_date] %></div>
        <div class="flight-cell">Rs. <%= flight[:display_price] %></div>
        <div class="flight-cell">
          <%= link_to "Book now", "#", class: "book-btn" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="no-flights-message">
      <p>No flights were available for your search.</p>
    </div>
  <% end %>

  </div>
</div>
