<% content_for :body_class, 'index-body' %>
<div class="hero-section">
  <%= image_tag 'flight.png', height: 500, class: "flight-image-search" %>

  <div class="search-box">
    <h2>Find your ticket Now 🛫</h2>

    <% if flash[:alert] %>
      <div class="error-message" id="errorMessage"><%= flash[:alert] %></div>
    <% end %>
    <% if flash[:notice] %>
      <div class="notice-message"><%= flash[:notice] %></div>
    <% end %>

    <%= form_with url: details_flights_path, method: :get, local: true, class: "ticket-form" do %>
        <div class="form-grid">
          <div class="form-group">
          <label>From</label>
          <%= text_field_tag :source, params[:source], list: "cities", class: "form-select", placeholder: "Where from ?", required: true %>
        </div>

        <div class="form-group">
          <label>To</label>
          <%= text_field_tag :destination, params[:destination], list: "cities", class: "form-select", placeholder: "Where to ?", required: true %>
        </div>
        <datalist id="cities">
          <% @cities.each do |city| %>
            <option value="<%= city %>">
          <% end %>
        </datalist>
      </div>

     <div class="form-grid">
        <div class="form-group">
          <label>Departure Date</label>
          <%= date_field_tag :departure_date, @departure_date, class: "form-select", min: Date.today.to_s %>
        </div>

        <div class="form-group">
          <label>Class Type</label>
          <%= select_tag :class_type, 
              options_for_select(["Economy", "Second class", "First class"], @class_type), 
              prompt: "Economy", class: "form-select" %>
        </div>
      </div>
     <div class="form-group" data-controller="passenger">
  <label>Passengers</label>

  <div class="passenger-counter">
    <button type="button" class="counter-btn minus-btn" data-action="passenger#decrement">-</button>
    <span class="passenger-count" data-passenger-target="count"><%= @passengers || 1 %></span>
    <button type="button" class="counter-btn plus-btn" data-action="passenger#increment">+</button>
  </div>
   <div class="validation-message" data-passenger-target="message" ></div>
  <%= hidden_field_tag :passengers, @passengers || 1, data: { passenger_target: "input" } %>
</div>

      <div class="button-wrapper">
        <%= submit_tag "Search", class: "search-button" %>
      </div>
    <% end %>
  </div>
</div>

<script>
document.addEventListener("turbo:load", function() {
  const errorDiv = document.getElementById("errorMessage");
  const sourceField = document.querySelector('[name="source"]');
  const destinationField = document.querySelector('[name="destination"]');
 if (errorDiv) {
    setTimeout(() => {
      errorDiv.style.opacity = "0";  
      setTimeout(() => errorDiv.style.display = "none", 500); 
    }, 3000);
  }

  if (errorDiv && sourceField && destinationField) {
    const clearError = () => {
      errorDiv.style.display = "none";
    };
    sourceField.addEventListener("input", clearError);
    destinationField.addEventListener("input", clearError);
  }
});

</script>